<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{#if darkMode}}
        <style>
            body {
                background: black;
                color: white;
            }

            .container-tasks {
                background-color: #ffffff;
            }
        </style>
    {{/if}}
</head>
<header>
    <h1>ToDo App</h1>
</header>
<body>
{{{body}}}
<footer>
    <p>&copy; 2023 ToDo App. All rights reserved. Alexander Gassmann & Michael Brunner</p>
</footer>
</body>
</html>
