<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Tasks</title>
</head>
<body>
<h1>All Tasks</h1>
<ul>
    {{#each tasks}}
        <li>
            <p>ID: {{this.id}}</p>
            <p>Description: {{this.description}}</p>
            <p>Assigned To: {{this.assignedTo}}</p>
        </li>
    {{/each}}
</ul>
</body>
</html>
