<p>Willkommen! Zu der besten TeamArbeit auf der Welt!</p>
<img src='/images/schlumpf.png' style='width: auto; height: 30%;'>
<form action='/tasks' method='post'><input type='submit' value='Click me'></form>
