<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ToDo App</title>
</head>

<body>
<div class="container">
    <p class="custom-title">Create a Task</p>
    <form action="/tasks" method="post">
        <label for="taskTitle">Task Title:</label>
        <input type="text" id="taskTitle" name="taskTitle" placeholder="Enter Title..."> <!-- required -->

        <label>Importance:</label>
        <input type="number" id="importance" name="importance" min="0" max="5" value="0">

        <label>Due Date:</label>
        <input type="date" id="dueDate" name="dueDate"> <!-- required -->

        <div class="finished-container">
            <label class="finished-label">
                <span>Finished:</span>
                <input type="checkbox" id="finished" name="finished">
            </label>
        </div>

        <label>Description:</label>
        <label for="description"></label><textarea id="description" name="description" rows="4"
                                                   placeholder="Enter task Description..."></textarea>

        <div class="button-container">
            <button class="column1" type="submit">Create</button>
            <button class="column2" type="submit" formaction="/tasks">Create & Overview</button>
            <button class="column3" type="submit" formaction="/tasks">Overview</button>
        </div>
    </form>
</div>
</body>

</html>
