<!DOCTYPE html>
<html>
<head>
    <title>Task Management</title>
</head>
<body>
<h1>Willkommen! Zu der besten TeamArbeit auf der Welt!</h1>
<form action="/tasks" method="get">
    <input type="submit" value="Create Task">
</form>
</body>
</html>
