<!DOCTYPE html>
<html lang="en">
<head>
    <title>Task Details</title>
</head>
<body>
<h1>Task Details</h1>
<p>Task information:</p>
<p>ID: {{task.id}}</p>
<p>Description: {{task.description}}</p>
<p>Assigned To: {{task.assignedTo}}</p>
</body>
</html>
