.task {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr auto auto;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.task-date {
    grid-column: 1;
}

.task-title {
    grid-column: 2;
    grid-row: 1;
}

.task-description {
    grid-column: 2;
    grid-row: 2;
}

.task-importance {
    grid-column: 3;
}

.task-edit-button {
    grid-column: 4;
}

.task-delete-button {
    grid-column: 5;
}

.task-checkbox {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.task-checkbox-label {
    display: flex;
    align-items: center;
    grid-column: 1;
}

.task-checkbox-label input[type="checkbox"] {
    margin-right: 5px;
}

.task-checkbox-label label {
    margin: 0;
}

.task-checkbox-label input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

.task-checkbox-description {
    grid-column: 2;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    margin-bottom: 20px;
}

/* Mobile Styles */
@media (max-width: 600px) {
    .filter-toggle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;

    }
    .filter-toggle button {
        margin-bottom: 5px;
        width: 100%;
    }
}

/* Desktop Styles */
@media (min-width: 601px) {
    .filter-header {
        flex: 0 0 auto;
    }

    .filter-toggle {
        flex-direction: row;
        align-items: center;
    }

    .task-edit-button,
    .task-delete-button {
        margin-top: 0;
        margin-left: 10px;
    }
}

ul {
    list-style-type: none;
}


/*.filter-toggle .filter-button .arrow-icon {*/
/*    display: inline-block;*/
/*    margin-left: 5px;*/
/*    transition: transform 0.3s;*/
/*}*/

/*.filter-toggle .filter-button.active .arrow-icon {*/
/*    transform: rotate(180deg);*/
/*}*/