.container-tasks {
    padding: 20px;
    background-color: #f5f5f5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.task {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr auto auto;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.task-date {
    grid-column: 1;
}

.task-title {
    grid-column: 2;
    grid-row: 1;
}

.task-description {
    grid-column: 2;
    grid-row: 2;
}

.task-importance {
    grid-column: 3;
}

.task-edit-button {
    grid-column: 4;
}

.task-delete-button {
    grid-column: 5;
}

.task-checkbox {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.task-checkbox-label {
    display: flex;
    align-items: center;
    grid-column: 1;
}

.task-checkbox-label input[type="checkbox"] {
    margin-right: 5px;
}

.task-checkbox-label label {
    margin: 0;
}

.task-checkbox-label input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

.task-checkbox-description {
    grid-column: 2;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    margin-bottom: 20px;
}

/* Mobile Styles */
@media (max-width: 600px) {
    .filter-toggle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;

    }

    .filter-toggle button {
        margin-bottom: 5px;
        width: 100%;
    }
}

/* Desktop Styles */
@media (min-width: 601px) {
    .filter-header {
        flex: 1 1 auto;
    }

    .filter-toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }

    .filter-toggle button {
        margin-bottom: 0;
        margin-right: 10px;
        width: auto;
    }
}

.task-edit-button,
.task-delete-button {
    margin-top: 0;
    margin-left: 10px;
}


ul {
    list-style-type: none;
}

.new-task-button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    align-self: flex-start;
    display: inline-block;
    min-width: fit-content;
}

.filter-button span {
    margin-left: 5px;
}

.filter-button .arrow-icon-up::after {
    content: "▲";
    color:  black;
}

.filter-button .arrow-icon-down::after {
    content: "▼";
    color: white;
}


